<template>
    <component :is="layout">
        <router-view/>
    </component>
</template>

<script>
export default ({
    name: "HomeComponent",
    computed: {
        layout() {
            return "layout-default";
        }
    },
})
</script>
