<template>
    <div>
        <nav aria-label="Page navigation ">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"></div>

                    <div class="card-body">

                        <div class="alert alert-danger" role="alert" v-if="output">

                        {{ output }}
</div>
                        <div class="row">

                            <form class="col-lg-12 "
                                  id="components-form-demo-normal-login"
                                  :form="form"

                                  @submit="formSubmit">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email"
                                           aria-describedby="emailHelp" v-model="email">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           v-model="password">
                                </div>

                                <button type="submit" class="btn btn-primary">login</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "BookView",
    mounted() {
        console.log('Component sign in mounted.')
    },
    data() {
        return {
            email: '',
            password: '',
            output: '',
            form: ''
        };
    },
    methods: {
        formSubmit(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('/api/auth/login', {
                email: this.email,
                password: this.password
            })
                .then(function (response) {
                    currentObj.output = response;
                    currentObj.$router.push("/book");

                })
                .catch(function (error) {
                    currentObj.output = error.message
                    ;
                });
        },
        register(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('/register', {
                email: this.email,
                password: this.password
            })
                .then(function (response) {
                    currentObj.output = response;
                    console.log(response)

                })
                .catch(function (error) {
                    console.log(error)
                    currentObj.output = error;
                });
        }
    }
}
</script>

