<!--
	This is the new user page, it uses the dashboard layout in:
	"./layouts/Dashboard.vue" .
 -->

<template>
    <div class="mx-auto mt-50" style="max-width: 800px">

        <div class="mb-24">
            <a-card
                :bordered="false"
                class="header-solid"
                :bodyStyle="{ paddingTop: 0 }"
                :headStyle="{ paddingBottom: '0' }"
            >
                <template #title>
                    <h5 class="mb-0">book page</h5>
                    <template v-if="error_msg">
                        <a-alert class="mt-10" :message="error_msg" type="error" closable/>
                    </template>
                </template>
                <a-form :form="form" @submit="handleSubmit" :hideRequiredMark="true">
                    <a-row :gutter="[24]">
                        <a-col :span="16">
                        <a-col :span="24">
                            <a-form-item class="mb-10" label="Title" :colon="false">
                                <a-input
                                    disabled="true"
                                    v-decorator="[
                    'title',
                    {
                      rules: [{ type: 'string', required: true, disabled:true}],
                    },
                  ]"
                                    placeholder="book title"
                                />
                            </a-form-item>
                        </a-col>  <a-col :span="24">
                        <a-form-item class="mb-10" label="Author" :colon="false">
                            <a-input disabled="true"
                                v-decorator="[
                    'author',
                    {
                      rules: [{ type: 'string', required: true }],
                    },
                  ]"
                                placeholder="author name"
                            />
                        </a-form-item>
                    </a-col>
                    </a-col>

                        <a-col :span="16" :md="8" class="text-center logoUpload">
                            <a-badge></a-badge>
                            <a-upload
                                accept="png,jpg,jpeg,gif"
                                name="Logo"
                                list-type="picture-card"
                                class="avatar-uploader mt-30"
                                :show-upload-list="false"
                                :multiple="false"
                                :before-upload="handleUploadLogo"
                            >
                                <template v-if="imageUrl">
                                    <img
                                        style="
                      max-width: 100%;
                      margin: auto;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      max-height: 100%;
                    "
                                        :src="imageUrl"
                                        alt="avatar"
                                    />
                                </template>
                                <div v-else>
                                    <div class="ant-upload-text">Upload</div>
                                </div>
                            </a-upload>
                        </a-col>
                    </a-row>
                    <a-row>
                        <a-col :span="24">
                            <a-form-item class="mb-10" label="Description" :colon="false">
                                <a-textarea
                                    disabled="true"
                                    v-decorator="[
                    'description',
                    {
                      rules: [
                        {
                          required: true,
                          message:
                            'Please enter afew words about this service!',
                        },
                      ],
                    },
                  ]"
                                    :rows="5"
                                    placeholder="Please enter afew words about this service!"
                                />
                            </a-form-item>
                        </a-col>
                    </a-row>
                    <a-row>

                    </a-row>
                    <a-row :gutter="[24]">
                        <a-col :span="12"></a-col>
                        <a-col :span="12" class="text-right">
                            <a-button :loading="loading" type="primary" @click="handleSubmit()" class="px-25"
                            >back
                            </a-button
                            >
                        </a-col>
                    </a-row>
                </a-form>
            </a-card>
        </div>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            error_msg: "",
            loading: false,
            categories: [],
            subcategories: [],
            category_id: null,
            sub_category_id: null,
            imageUrl:"",
            avatar_id:""
            ,
            logoLoading:false
        };
    },
    beforeCreate() {
        this.form = this.$form.createForm(this, { name: "books" });
    },
    methods: {
        handleSubmit() {
            this.form.validateFields((err, values) => {
                values.clinic_id = this.$route.params.id;
                if(this.photo_id)
                values.photo_id=this.photo_id
                this.error_msg = "";
                if (!err) {
                    this.loading = true;
                    axios
                        .put("/api/books/" + this.$route.params.id, values)
                        .then((response) => {
                            this.$router.push("/book/");

                            this.loading = false;
                        })
                        .catch((error) => {
                            this.loading = false;
                            this.error_msg =
                                (error.response && error.response.data.message) ||
                                error.message;
                            error.toString();
                        });
                }
            });
        },
        getBase64(img, callback) {
            const reader = new FileReader();
            reader.addEventListener("load", () => callback(reader.result));
            reader.readAsDataURL(img);
        },
        fetch() {
            this.error_msg = "";
            axios
                .get("/api/books/" + this.$route.params.id)
                .then((response) => {
                    this.form.setFieldsValue(response.data.data);
                    if(response.data.data.photo) {
                        this.imageUrl = response.data.data.photo.url;
                    }
                    console.log(response.data.data.photo)
                })
                .catch((error) => {
                    console.log(error.response);
                    this.loading = false;
                    this.error_msg =
                        (error.response && error.response.data.message) || error.message;
                    error.toString();
                });
        },

        handleUploadLogo(file){

            this.logoLoading = true;
            this.logo = file;
            console.log(file)
            this.getBase64(file, (base64Url) => {
                this.imageUrl="";
                this.imageUrl = base64Url;
            });
            let uploadfile = new FormData();
            uploadfile.append('file', file);
            const config = {
                headers: {
                    contentType : 'image/png'
                }
            }
            axios
                .post("/api/files/upload", uploadfile, config)
                .then((response) => {
                    this.form.logo_id = response.data.data.id;
                    this.photo_id=response.data.data.id;
                    this.logoLoading = false;
                    console.log(this.photo_id)

                })
                .catch((error) => {
                    console.log(error.response);
                    this.logoLoading = false;
                });

        },
    },
    mounted() {
        this.fetch();
    },
};
</script>
<style>
.ant-upload.ant-upload-select-picture-card{
    width: 100%;
    height:150px;
}
</style>






