<template>
    <div>
        <a-card
            :bordered="false"
            class="header-solid mb-24"
            :bodyStyle="{ padding: 0, paddingTop: '16px' }"
        >
            <template #title>
                <a-row type="flex" :gutter="24">
                    <a-col :span="24" :md="12">       <span>books </span></a-col>
                    <a-col :span="24" :md="12"><router-link to="book/new" class="font-bold text-dark"
                    ><a-icon type="plus"
                    /> add book</router-link></a-col>
                </a-row>

            </template>
        </a-card>
        <a-card
            :bordered="false"
            class="header-solid mb-24"
            :bodyStyle="{ padding: 0, paddingTop: '16px' }"
        >
            <div class="mx-25">
                <a-row type="flex" :gutter="24">
                    <a-col :span="24" :md="12">
                        <a-select
                            v-model="pageSize"
                            @change="onPageSizeChange"
                            style="width: 70px"
                        >
                            <a-select-option value="5">5</a-select-option>
                            <a-select-option value="10">10</a-select-option>
                            <a-select-option value="15">15</a-select-option>
                            <a-select-option value="20">20</a-select-option>
                            <a-select-option value="25">25</a-select-option>
                        </a-select>
                        <label for="" class="ml-10">entries per page</label>
                    </a-col>


                </a-row>
            </div>

            <a-table
                class="mt-20"
                :columns="columns"
                :data-source="dataSource"
                :pagination="pagination"
                :loading="loading"
                @change="handleTableChange"
            >
                <template slot="logo" slot-scope="logo">
                    <img :src="logo" HEIGHT="80px" />
                </template>
                <template slot="status" slot-scope="status">



                </template>
                <template slot="id" slot-scope="id">

                    <router-link
                        :to="'/books/view/'+id"
                        class="font-bold text-dark mr-5 px-5 py-5"
                        name="view"
                    ><a-icon type="eye"
                    /></router-link>
                    <router-link
                        :to="'/books/'+id"
                        class="font-bold text-dark mr-5 px-5 py-5"
                        name="edit"
                    ><a-icon type="edit"
                    /></router-link>
                    <a class="font-bold text-danger px-5 py-5" @click="onDelete(id)"
                    ><a-icon type="delete"
                    /></a>
                </template>
            </a-table>
        </a-card>
    </div>
</template>

<script>

const columns = [

    {
        title: "LOGO",
        dataIndex: "photo.url",
        sorter: false,
        scopedSlots: { customRender: "logo" },
    },    {
        title: "title",
        dataIndex: "title",
        sorter: (a, b) => a.name.length - b.name.length,
        sortDirections: ["desc", "asc"],
    },
    {
        title: "author",
        dataIndex: "author.name",
        sorter: (a, b) => a.username.length - b.username.length,
        sortDirections: ["desc", "asc"],
    },
    {
        title: "publication",
        dataIndex: "publication",
        sortDirections: ["desc", "asc"],
        sorter: true,
    },
    {
        title: "ACTIONS",
        dataIndex: "id",
        sorter: false,
        scopedSlots: { customRender: "id" },
    },
];
export default {
    name:"Book_page",
    components: {},
    data() {
        return {

            dataSource: [],
            pageSize: 5,
            pagination: {
                current: 0,
                pageSize: 5,
            },
            columns,
            loading: false,
            selectedRowKeys: [],
        };
    },
    methods: {
        onPageSizeChange() {
            this.pagination.pageSize = parseInt(this.pageSize);
            this.fetch();
        },


        handleTableChange(pagination, filters, sorter) {
            this.pagination = {
                ...this.pagination,
                current: pagination.current,
            };
            this.fetch({
                pageSize: pagination.pageSize,
                page: pagination.current,
                sortField: sorter.field,
                sortOrder: sorter.order,
                ...filters,
            });
        },

        async fetch(params = {}) {
            this.loading = true;
            let filters = "";

            await axios({
                url:
                    "/api/books?page=" +
                    this.pagination.current +
                    "&limit=" +
                    this.pagination.pageSize +
                    "&sort[column]=" +
                    (params.sortField || "id") +
                    "&sort[order]=" +
                    (params.sortOrder || "asc") +
                    filters,
                method: "GET",
            }).then(
                (response) => {
                    this.loading = false;
                    response = response.data.data;

                    this.dataSource = response.data;
                    this.pagination = {
                        ...this.pagination,
                        total: response.total,
                        current: response.current_page,
                    };
                },
                (error) => {
                    console.log(error);
                }
            );
        },

        async onDelete(id) {
            this.$swal({
                title: "Are you sure?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete",
                closeOnCancel: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    this.loading = true;
                    // eslint-disable-next-line no-undef
                    axios({
                        url: "api/books/" + id,
                        method: "DELETE",
                    })
                        // eslint-disable-next-line no-unused-vars
                        .then((resp) => {
                            this.$swal("Deleted!", "success");
                            this.loading = true;
                            this.fetch();
                        })
                        .catch((err) => {
                            this.loading = false;
                            this.$swal("Failed!", err.response.data.message, "danger");
                        });
                }
            });
        },
    },

    mounted() {
        //  console.log(this.pagination);
        this.fetch();
    },
};
</script>

<style lang="scss">
</style>
