<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"></div>

                    <div class="card-body">

                        <div class="alert alert-danger" role="alert" v-if="output">

                        {{ output }}
</div>
                        <div class="row">

                            <form class="col-lg-12 "
                                  id="components-form-demo-normal-login"
                                  :form="form"

                                  @submit="submit">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email"
                                           aria-describedby="emailHelp" v-model="email">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           v-model="password">
                                </div>

                                <button type="submit" class="btn btn-primary">login</button>
                                <router-link to="/sign-up" class="font-bold text-dark"
                                >
                                 sign up</router-link>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "BookView",
    mounted() {
        console.log('Component sign in mounted.')
    },
    data() {
        return {
            email: '',
            password: '',
            output: '',
            form: ''
        };
    },
    methods: {
        ...mapActions(["LogIn"]),
        async submit(e) {
            this.output=""
            e.preventDefault();
            const User = new FormData();
            User.append("email", this.email);
            User.append("password", this.password);
            try {
                await this.LogIn(User);
                this.$router.push("/book");
                this.showError = false
            } catch (error) {
                if(error=="Error: Request failed with status code 400")
                this.output="credential error, may email or password is wrong"
                this.showError = true
            }
        },
    },
        formSubmit(e) {
            e.preventDefault();
            let currentObj = this;
                if (this.email && this.password)
                {
                    let user=[];
                    user.email=this.email;
                    user.password=this.password;

                    console.log(user)
                    this.$store.dispatch("auth/login", user).then((response) => {
                        console.log(response)
                        this.loading = false;
                        currentObj.$router.push("/book");


                    })
                        .catch((error) => {
                            this.loading = false;
                            console.log(error)

                            this.error_msg =
                                (error.response && error.response.data.message) ||
                                error.message;
                            error.toString();
                        });
                }

            // axios.post('/api/auth/login', {
            //     email: this.email,
            //     password: this.password
            // })
            //     .then(function (response) {
            //         currentObj.output = response;
            //         currentObj.$router.push("/book");
            //
            //     })
            //     .catch(function (error) {
            //         currentObj.output = error.message
            //         ;
            //     });
        },
        register(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('/register', {
                email: this.email,
                password: this.password
            })
                .then(function (response) {
                    currentObj.output = response;
                    console.log(response)

                })
                .catch(function (error) {
                    console.log(error)
                    currentObj.output = error;
                });
        }
    }

</script>

