<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"></div>

                    <div class="card-body">

                        <div class="alert alert-danger" role="alert" v-if="output">

                            {{ output }}
                        </div>
                        <div class="row">

                            <form class="col-lg-12 "
                                  id="components-form-demo-normal-login"
                                  :form="form"

                                  @submit="submit">
                                <div class="mb-3">
                                    <label for="name" class="form-label">name</label>
                                    <input type="text" class="form-control" id="name" v-model="name">
                                    <div class="mb-3"></div>
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email"
                                           aria-describedby="emailHelp" v-model="email">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           v-model="password">
                                </div>

                                <button type="submit" class="btn btn-primary">sign up</button>
                                <router-link to="/sign-in" class="font-bold text-dark"
                                >
                                    sign in
                                </router-link>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "sign-up",
    mounted() {
        console.log('Component sign up mounted.')
    },
    data() {
        return {
            email: '',
            password: '',
            output: '',
            form: ''
        };
    },
    methods: {
        ...mapActions(["Register"]),
        async submit(e) {
            this.output = ""
            e.preventDefault();
            const User = new FormData();
            User.append("name", this.name);
            User.append("email", this.email);
            User.append("password", this.password);
            try {
                await this.Register(User);
                this.$router.push("/book");
                this.showError = false
            } catch (error) {
                this.showError = true
                this.output = "email is already used"
                this.showError = true
            }
        },
    },

}


</script>

