<!--
	This is the tables page, it uses the dashboard layout in:
	"./layouts/Dashboard.vue" .
 -->

<template>
	<div>


	</div>
</template>

<script>

	// "Authors" table component.




	// "Authors" table list of rows and their properties.


	// "Projects" table list of columns and their properties.


	// "Projects" table list of rows and their properties.


	export default ({
		name:"Table_layout",
		components: {

		},
		data() {
			return {

			}
		},
	})

</script>

<style lang="scss">
</style>
